{{#link-to "zone" zone}} Back {{/link-to}}

<h1> {{zone.title}} </h1>
<p> {{zone.desc}} </p>

<hr />

<h2>You run into a wild <em>{{monster.title}}</em></h2>
<p> {{monster.desc}} </p>

<hr />


{{#if complete}}
  {{#if won}}
    <p>Congrats - you <strong>won!</strong></p>
    <p>You got <em>{{exp}}</em> experience.</p>

    <p>You found <em>{{rubies}}</em> rubies. Woot!</p>

    {{#each item in items}}
      <p>You found an item! <strong><em>{{item.title}}</em></strong>. Boo-ya.</p>
    {{else}}
      No items were found.. sucker.
    {{/each}}
  {{else}}
    <p>Sad day.. you <strong>LOST</strong>!</p>
  {{/if}}

  <hr />

  {{#link-to "zone.battle" zoneId classNames="btn btn-default disabled"}}
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    Hunt again!
  {{/link-to}}

  {{#link-to "zone" zone classNames="btn btn-default"}}
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Back to zone
  {{/link-to}}

{{else}}
  <button type="button" class="btn btn-default" {{action "attack"}}>
    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
    Attack
  </button>

  {{#link-to "zone" zone classNames="btn btn-default"}}
    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
    Run away!
  {{/link-to}}
{{/if}}

