<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo"></a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link">{{link-to 'Home' 'application'}}</li>
        <li class="nav-link">{{link-to 'Profile' 'profile.index'}}</li>
      </ul>
    </div>
  </div>
</header>

<main>
  <aside>
    <h1>Player Stats</h1>

    <p class="title">
      <strong>Title:</strong>
      {{session.player.title}}
    </p>

    <p class="exp">
      <strong>Exp:</strong>
      {{session.player.exp}}
    </p>

    <p class="hunts">
      <strong>Hunts:</strong>
      {{session.player.hunts}}
    </p>

    <p class="rubies">
      <strong>Rubies:</strong>
      {{session.player.rubies}}
    </p>
  </aside>

  <section>
    {{outlet}}
  </section>
</main>
